<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
  <h2>Registration Table</h2>
  
  <form th:action = "@{/register-user}" th:object ="${dto}" method = "Post">
    <table>
           <tr>
          <td>Id:</td>
           <td><input type = "text" th:feild="*{id}" /></td>
           </tr>
        
           <tr>
          <td>FristName:</td>
           <td><input type = "text" th:feild="*{firstName}" /></td>
           </tr>
           <tr>
           <td>LastName :</td>
           <td><input type = "text" th:feild="*{lastName}" /></td>
           </tr>
           <tr>
           <td>EmailId :</td>
           <td><input type = "text" th:feild="*{emailId}" /></td>
           </tr>
           <tr>
           <td>Password :</td>
           <td><input type = "password" th:feild="*{password}" /></td>
           </tr>
           <tr>
                 <td></td>
                 <td><input type = "submit" value = "Submit"/></td>
           </tr>
    </table>
  
  </form>
</body>
</html>